<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Email Visualization</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href ="css/sample-d3.css">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

</head>

<body>


<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">See-mail</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a><!--intro to project, tools used, basic summary of motivation, etc.-->
                    </li>
        
                    <li>
                        <a href="/">3 Friendships</a>
                    </li>
                    <li>
                        <a href="https://github.com/akasunic/final-project-dp15">Github</a>
                    </li>
                    <li>
                        <a href="/resources">Recommended Resources</a>
                    </li>
                    <li>
                        <a href=#>Give Us Feedback!</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<!--my lazy 'margin padding'...-->
<br><br>


<div class="container">
<h1 style="color:white;text-align:center">Tracking Enthusiasm over Time!</h1><br>
<div class="span7 text-center"><a href="/friend1" class="btn btn-default" role="button">Replay Intro Video</a>
<a href="/friend1-length" class="btn btn-default" role="button">Length and Frequency of Emails Over Time</a></div>
</div>
<br>
<div class="container">

<audio controls>
  <source src="data/keyword_song.mp3" type="audio/mpeg" width=960px>
  Your browser does not support the audio tag.
</audio>

<div id ="chart"></div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>

<script type="text/javascript">
var search_term='!';
var dataset;
var x_vals=[];
var y_vals=[];
var x_min, x_max, total_days, x_min2, x_max2, total_days2;
var barWidth, barWidth2;
var direction;

var monthMap = {
    "Jan":0,
    "Feb":1, 
    "Mar":2, 
    "Apr":3,
    "May":4, 
    "Jun":5, 
    "Jul":6,
    "Aug":7, 
    "Sep":8,
    "Oct":9,
    "Nov":10,
    "Dec":11
}


//set up margins
var margin = {top: 20, right: 80, bottom: 180, left: 20},
    margin2 = {top: 380, right: 80, bottom: 40, left: 20},
    width = 960 - margin.left - margin.right,
    height = 500-margin.top-margin.bottom,
    height2 = 500 - margin2.top - margin2.bottom;
    

          
var svg = d3.select("#chart").append("svg")
            .attr("width", width+margin.left +margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg.append("defs").append("clipPath")
    .attr("id", "clip")
  .append("rect")
    .attr("width", width)
    .attr("height", height);

var focus = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var barsGroup = focus.append("g")
    .attr('clip-path', 'url(#clip)');

var context = svg.append("g")
    .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");


//set up scales and axes
var x_scale= d3.time.scale()
                .range([0, width]).nice(),//nice() makes end of scale a 'nice' number
    x2 = d3.time.scale()
                .range([0, width]).nice(),
    y_scale = d3.scale.linear()
                .range([height, 0]).nice(), //remember, needs to be 'opposite' for y scale!
    y2 = d3.scale.linear()
                .range([height2, 0]).nice();//remember, needs to be 'opposite' for y scale!
                
var xAxis = d3.svg.axis()
                    .scale(x_scale)
                    .tickSize(-height) 
                    .tickSubdivide(true)
                    //.tickFormat(function (d) { return '';})//hides the y tick labels to keep things looking pretty
                    .orient("bottom"), 
                    
    xAxis2 = d3.svg.axis()
                    .scale(x2)
                    .tickSize(-height) 
                    .tickSubdivide(true)
                    //.tickFormat(function (d) { return '';})//hides the y tick labels to keep things looking pretty
                    .orient("bottom");
                    
var yAxis = d3.svg.axis()
                    .scale(y_scale)
                    .tickSize(-width)
                    .tickSubdivide(true)
                    .tickFormat(function (d) { return '';})//hides the y tick labels to keep things looking pretty
                    .orient("left");
                    
var brush = d3.svg.brush()
    .x(x2)
    .on("brush", brushed);

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<span>" + d.Date.toDateString() + "<br>From: " + d.From + "<br>" + "Subject: " + d.Subject + "<br> Search term: " + search_term + "<br> Number of ocurrences: " + d.countContent.length + "</span>";
  })
svg.call(tip);

function upDate() {d3.json("data/data.json", function(error, data){
    dataset = data;
    
    
    var friend1 = "friend1";//friend 1 (the user)-- change to reflect the right person!
    var friend2 = "friend2"; //friend 2
    
    console.log(search_term);

    dataset.forEach(function(d){
        if (d.From.indexOf(friend2)>-1){direction = 1; d.countContent=Array(ocurrences(d.content.toLowerCase(), search_term)).join("a");} //will put friend2's data below [see further for why the '1' will do this-- comes in during barChart() transform
            else if (d.From.indexOf(friend1)>-1){direction = 0; d.countContent=Array(ocurrences(d.content.toLowerCase(), search_term)).join("a");}//will put friend1's data above
                else {d.countContent ='';} //don't include bars for emails that weren't from either of us
        d.direction = direction;

        //need to translate the 'date' to an actual date format
        day= +d.Date.slice(5, 7).trim();
        month = d.Date.slice(7, 11).trim();
        for (key in monthMap){if (month==key){month=+monthMap[key];}}
        year=+d.Date.slice(11, 16).trim();
        d.year = year;
        var theDate = new Date(year, month, day);
        d.Date = theDate;
        x_vals.push(Date.parse(d.Date));
        y_vals.push(d.countContent.length);
        
    });
        console.log(y_vals.length);
        x_scale.domain(d3.extent(dataset, function(d) { return d.Date; }));
        y_scale.domain([-d3.max(y_vals), d3.max(y_vals)]);//this is an attempt to show negative values (balance)
        x2.domain(x_scale.domain());
        y2.domain(y_scale.domain());
        
        
        mult_to_fit_y = 0.5*height/(d3.max(y_vals));//use this to scale y values in pixels
        mult2 = 0.5*height2/(y2.domain().slice(-1)[0]);
        x_min = d3.min(x_vals);
        x_max = d3.max(x_vals);
        total_days = (x_max - x_min)/86400000;//translating from milliseconds to days
        barWidth = width/total_days;
        
        x_min2 = x2.domain()[0];
        x_max2 = x2.domain().slice(-1)[0];

        total_days2 = +Math.abs(x_max2 - x_min2)/86400000;
        barWidth2 = width/total_days2;
    barChart();
});}



function barChart(){
    focus.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  focus.append("g")
      .attr("class", "y axis")
      .call(yAxis);

    focusGraph = barsGroup.selectAll("rect")
      .data(dataset)
    .enter().append("rect")
        .attr("class", function (d){if(d.direction ==1){return "keybar1";}else{return "keybar";}})//this is literally just to get different colors
        .attr("x", function(d) {return x_scale(d.Date);})//so happy it works now!! this needed to be tied to the dataset!
        .attr("width", barWidth)
        .attr("y", function(d) {if (d.direction ==1){d.countContent.length*mult_to_fit_y; } else if (d.direction ==0) {return height- d.countContent.length*mult_to_fit_y;} })
        .attr("height", function(d) {if (d.direction ==1)
            {return d.countContent.length*mult_to_fit_y;}
            else
            {return d.countContent.length*mult_to_fit_y;}
            })
        .attr("transform", function(d) {if (d.direction ==1){return "translate(0," + height/2 + ")";} else{return "translate(0," + -height/2+ ")" }})
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide);
 
    context.selectAll("rect")
      .data(dataset)
    .enter().append("rect")
      .attr("class", function (d){if(d.direction ==1){return "keybar1";}else{return "keybar";}})
      .attr("x", function(d, i) {return x2(d.Date);})
      .attr("y", function(d) {if (d.direction ==1){d.countContent.length*mult2; } else if (d.direction ==0) {return height2- d.countContent.length*mult2} })
      .attr("width", barWidth2)
      
      .attr("height", function(d) {if (d.direction ==1)
            {return d.countContent.length*mult2;}
            else
            {return d.countContent.length*mult2;}
            })
        .attr("transform", function(d) {if (d.direction ==1){return "translate(0," + height2/2 + ")";} else{return "translate(0," + -height2/2+ ")" }})
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide);
     

      context.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height2 + ")")
      .call(xAxis2);
      

  context.append("g")
      .attr("class", "x brush")
      .call(brush)
    .selectAll("rect")
      .attr("y", 0)
      .attr("height", height2 + 30);
}

function brushed() {

  x_scale.domain(brush.empty() ? x2.domain() : brush.extent());
  focusGraph.attr("x", function(d, i) { return x_scale(d.Date); });
  focusGraph.attr("width", barWidth*6);

  focus.select(".x.axis").call(xAxis);

}

function ocurrences(str, substring){
    return str.split(substring).length - 1; 
}
 
upDate();

//see first assignments for ideas on how to implement
//using jinja templates

//because then you can do keyword searches

</script>