<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flatmate Friends</title>


<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href ="css/sample-d3.css">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>


</head>

<body style="background-color:#FF0074">



<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">See-mail</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a><!--intro to project, tools used, basic summary of motivation, etc.-->
                    </li>
                    <li>
                        <a href="/">3 Friendships</a>
                    </li>
                    
                    <li>
                        <a href="https://github.com/akasunic/final-project-dp15">Github</a>
                    </li>
                    <li>
                        <a href="/resources">Recommended Resources</a>
                    </li>
                    <li>
                        <a href=#>Give Us Feedback!</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<!--my lazy 'margin padding'...-->
<br><br><br>

<div class="container">
<h1 style="color:white;text-align:center">The Flatmate Friends</h1><br><br>

<div style="text-align:center"><iframe width="420" height="315" src="https://www.youtube.com/embed/Il4FFvA-mnQ" frameborder="0" allowfullscreen></iframe>
</div>

<div class="span7 text-center"><a href="/friend1-length" class="btn btn-default" role="button">Length and Frequency of Emails Over Time</a>
<a href="/friend1-keywords" class="btn btn-default" role="button">Tracking Enthusiasm over Time!</a></div>
</div>
<p><br><br><br><br>

</p>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>
