<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>See-mail Resources</title>
<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript">


</script>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">See-mail</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li>
<a href="/about">About</a><!--intro to project, tools used, basic summary of motivation, etc.-->
</li>
<li>
<a href="/">3 Friendships</a>
</li>
<li>
<a href="https://github.com/akasunic/final-project-dp15">Github</a>
</li>
<li>
<a href="/resources">Recommended Resources</a>
</li>
<li>
<a href=#>Give Us Feedback!</a>
</li>
</ul>
</div>
<!-- /.navbar-collapse -->


</div>
<!-- /.container -->
</nav>
<br><br><br>
<div class="container">

<h1>Resources</h1>
<p>This site was created using the following tools:
<ul>
<li><a href="http://d3js.org/">D3</a> and Javascript</li>
<li><a href="https://cloud.google.com/appengine/docs">Google App Engine</a></li>
<li><a href="https://www.python.org/">Python</a></li>
<li><a href="http://jythonmusic.org/">Jython Environment for Music</a></li>
<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
<li><a href="https://www.google.com/settings/takeout">Google Takeout</a></li>
</ul>
</p>
<p> While creating our visualizations, various other email visualization pages/tools were referred  to:
<ul>
	<li><a href="https://immersion.media.mit.edu/">MIT Immersion</a></li>
	<li><a href="http://blog.stephenwolfram.com/2012/03/the-personal-analytics-of-my-life/">Stephen Wolfram's blog</a></li>
	<li><a href="http://fernandaviegas.com/email.html">Lots of ideas from  Fernanda Viegas</a></li>
	<li><a href="http://feltron.com/">Communication of Nicholas Felton</a></li>

</ul>
</p>
<p>We also built off and were inspired by research conducted at Carnegie Mellon University and elsewhere, including:
<ul>
	<li>Odom, William, John Zimmerman, and Jodi Forlizzi. <a href="http://dl.acm.org/citation.cfm?id=2598577">Placelessness, spacelessness, and formlessness: experiential qualities of virtual possessions. </a>Proceedings of the 2014 conference on Designing interactive systems. ACM, 2014</li>
	<li>Belk, R. W. (1988). <a href="http://www.aber.ac.uk/en/media/training/beforesept14/samwindows/pdf/belk-et-al-%281988%29-%27extended-self%27%281%29.pdf">Possessions and the Extended Self. </a>Journal of Consumer Research, 15(2), 139–168. </li>
	<li>Cosley, D., & Sosik, V. (2012).  <a href="http://www.cs.cornell.edu/~danco/research/papers/danco-reminiscing-hcij2012.pdf">Experiences With Designing Tools for Everyday Reminiscing.</a>Human–Computer Interaction (September 2014), 175–198. doi:10.1080/07370024.2012.656047</li>
	<li>Preliminary, unpublished exploration of personal email data visualization in Excel by students in Niki Kittur's P&T class, 2015 at Carnegie Mellon, under the guidance of John Zimmerman (Judeth Oden Choi, Xu Wang, Eunki Chung, Anna Kasunic).</li>

</ul>



</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>


</body>
</html>