body {
  
  background-color: black;
  color:black;
  

}

audio{
    width:870px;
}

svg{
    stroke: grey;
    fill: white;
    font-weight: light;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.keybar1 {
  fill: #269BF4;
  stroke: #269BF4;
}

.keybar{
    fill:#FE192A;
    stroke:#FE192A;
}

.keybar:hover {
  fill: #FFDB19 ;
  stroke: #FFDB19 ;
}

.keybar1:hover {
  fill: #FFDB19 ;
  stroke: #FFDB19 ;
}




.bar1 {
  fill: #00FFB2;
  stroke: #00FFB2;
}

.bar{
    fill:#FF0074;
    stroke:#FF0074;
}

.bar:hover {
  fill: #FFA879 ;
  stroke: #FFA879 ;
}

.bar1:hover {
  fill: #FFA879 ;
  stroke: #FFA879 ;
}


.x.axis path {
  display: none;
}
.x.axis line {
  stroke: none;
  
}

.y.axis line {
  stroke: none;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: white;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color:white;
  stroke: black;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}